* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, Sans-serif;

  line-height: 1.5;
  font-weight: 400;
  color: #434343;
  background: #fff;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

html body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
// img {
//   width: 40%;
//   height: 40%;
// }
