#container-section .section-Prager,
#container-section .section-Karlsbrücke,
#container-section .section-Centralpark {
  height: 100vh;
  width: auto;
  background-color: rgba(186, 86, 70, 0.56);
  -webkit-clip-path: polygon(
    31% 6%,
    100% 0,
    100% 39%,
    100% 93%,
    72% 100%,
    29% 100%,
    0 93%,
    0 0,
    16% 7%
  );
  clip-path: polygon(
    31% 6%,
    100% 0,
    100% 39%,
    100% 93%,
    72% 100%,
    29% 100%,
    0 93%,
    0 0,
    16% 7%
  );
}

#container-section .section-Marktplatz-,
#container-section .section-Wenzelplatz,
#container-section .section-Moldauinsel {
  height: 100vh;
  width: auto;
}

#container-section .modal-body h2 {
  font-size: 34px;
  margin: 10px 350px 20px 8px;
  width: 100%;
}
#container-section .modal-body h3 {
  font-size: 30px;
  width: 100%;
  margin: 20px 350px 20px 8px;
}

h2 {
  text-align: center;
  justify-content: center;
  padding-top: 80px;
}

h3 {
  font-size: 10px;
  padding: 2px;
  margin-right: 380px;
  margin-left: 380px;
}
.foto-text img {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 50%;
  position: relative;
}
#container-section .section-Centralpark .foto-text img {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  display: block;
  width: 40%;
  height: 30%;
  position: relative;
}

.foto-text p {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding: 2px;
  margin-right: 350px;
  margin-left: 350px;
}

#container-section .section-Moldauinsel .foto-text {
  text-align: center;
  justify-content: center;
}

@media (max-width: 1400px) and (min-width: 1100px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-right: 180px;
    margin-left: 180px;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-right: 150px;
    margin-left: 150px;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-right: 150px;
    margin-left: 150px;
  }
  #container-section .section-Karlsbrücke {
    font-size: 17px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    height: 130vh;
  }
  #container-section .section-Marktplatz- {
    font-size: 17px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    height: 135vh;
  }
  #container-section .section-Centralpark {
    font-size: 17px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    height: 120vh;
  }
  #container-section .modal-body h2 {
    font-size: 22px;
    margin: 10px 350px 20px 2px;
    width: 100%;
  }
  #container-section .modal-body h3 {
    font-size: 20px;
    width: 100%;
    margin: 20px 350px 20px 2px;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding: 2px;
    margin-right: 60px;
    margin-left: 60px;
  }
}
@media (max-width: 500px) and (min-width: 375px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
  }

  #container-section .section-Centralpark {
    height: 90vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 2px;
      width: 100%;
    }
    #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 2px;
    }
  }
  #container-section .section-Karlsbrücke {
    height: 100vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 20px;
      width: 100%;
    }
    #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 20px;
    }
  }
  #container-section .section-Marktplatz- {
    height: 100vh;
    width: auto;
  }
  h2 {
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    font-size: 16px;
  }
  #container-section .section-Moldauinsel {
    height: 80vh;
    width: auto;
  }
  #container-section .modal-body h2 {
    font-size: 16px;
    margin: 10px 350px 20px 2px;
    width: 100%;
  }
  #container-section .modal-body h3 {
    font-size: 17px;
    width: 100%;
    margin: 20px 350px 20px 2px;
  }
  #container-section .section-Prager {
    height: 70vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
  }
}

@media (max-width: 375px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
  }

  #container-section .section-Centralpark {
    height: 150vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 2px;
      width: 100%;
    }
    #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 2px;
    }
  }
  #container-section .section-Karlsbrücke {
    height: 160vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 20px;
      width: 100%;
    }
    #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 20px;
    }
  }
  #container-section .section-Marktplatz- {
    height: 180vh;
    width: auto;
  }
  h2 {
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    font-size: 20px;
  }
  #container-section .section-Moldauinsel {
    height: 120vh;
    width: auto;
  }
  #container-section .modal-body h2 {
    font-size: 16px;
    margin: 10px 350px 20px 2px;
    width: 100%;
  }
  #container-section .modal-body h3 {
    font-size: 17px;
    width: 100%;
    margin: 20px 350px 20px 2px;
  }
  #container-section .section-Prager {
    height: 90vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
    clip-path: polygon(
      31% 6%,
      100% 0,
      100% 39%,
      100% 93%,
      72% 100%,
      29% 100%,
      0 93%,
      0 0,
      16% 7%
    );
  }
}
