#main {
  margin-left: auto;
  margin-right: auto;
}

#main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}
#main h2 {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

#main p {
  font-size: 20px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

#main .container2 {
  margin-top: 10px;
  margin-right: 300px;
  margin-left: 300px;
  text-align: center;
  justify-content: center;
}
@media (max-width: 1400px) and (min-width: 1100px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
  }
  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 32px;
  }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
  }
  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 22px;
  }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
  }
  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 22px;
  }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }
  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 15px;
  }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }
  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 15px;
  }

  #main p {
    font-size: 14px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
  }
}
