#navbar {
  width: 100%;
  padding: 10px 10px;
  background-color: darkred;
  text-align: center;
  border-top: 1px solid #751b1b;
  border-botton: 1px solid #751b1b;
  height: 50px;
}

ol {
  /*	wyzerowanie marginesów*/
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  height: 35px;
  line-height: 200%;
  display: inline-block;
}

ol a {
  color: white;
  text-decoration: none;
  display: block;
}

ol > li {
  float: left;
  width: 150px;
  height: 40px;
  border-right: 1px dashed white;
}

ol > li:first-child {
  border-left: 1px dashed white;
}

ol > li:hover {
  background-color: papayawhip;
}

ol > li:hover > a {
  color: #451717;
}

ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 40px;
  /*	chowa wszystkie listy będące potomkami menu*/
  display: none;
}

ol > li:hover > ul {
  display: block;
}

ol > li > ul > li {
  background-color: #cf6969;
  position: relative;
  z-index: 100;
  border-top: 1px dashed white;
}

ol > li > ul > li:hover {
  background-color: papayawhip;
}

ol > li > ul > li:hover > a {
  color: #451717;
}

@media (min-width: 1100px) {
  // aside {
  //   width: 30%;
  // }
}

@media (max-width: 1000px) and (min-width: 800px) {
  #navbar li {
    width: 120px;
  }
}
@media (max-width: 800px) and (min-width: 500px) {
  #navbar li {
    width: 110px;
  }
}

@media (max-width: 500px) {
  #navbar {
    width: 100%;
    padding: 10px 10px;
    background-color: darkred;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-botton: 1px solid #751b1b;
    height: 50px;
    visibility: hidden;
  }
}
