#navigation .prague-arrow-down h4 {
  color: #000;
  font-size: 1.2em;
  padding: 7px;
  text-decoration: none;
}

#navigation .prague-arrow-down {
  background-color: #fff;
}

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  list-style: none;
  z-index: 9999;
}

ul#navigation li {
  width: 100px;
}

ul#navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
}

ul#navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
}

ul#navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul#navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul#navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  -moz-box-shadow: 0px 4px 3px #000;
  -webkit-box-shadow: 0px 4px 3px #000;
}

.prague-arrow-down {
  content: "\EA65" !important;
  colo: black;
}

@media (max-width: 500px) {
  ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index: 9999;
  }
}
