@charset "UTF-8";
#container-section .section-Prager,
#container-section .section-Karlsbrücke,
#container-section .section-Centralpark {
  height: 100vh;
  width: auto;
  background-color: rgba(186, 86, 70, 0.56);
  -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
  clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); }

#container-section .section-Marktplatz-,
#container-section .section-Wenzelplatz,
#container-section .section-Moldauinsel {
  height: 100vh;
  width: auto; }

#container-section .modal-body h2 {
  font-size: 34px;
  margin: 10px 350px 20px 8px;
  width: 100%; }

#container-section .modal-body h3 {
  font-size: 30px;
  width: 100%;
  margin: 20px 350px 20px 8px; }

h2 {
  text-align: center;
  justify-content: center;
  padding-top: 80px; }

h3 {
  font-size: 10px;
  padding: 2px;
  margin-right: 380px;
  margin-left: 380px; }

.foto-text img {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 50%;
  position: relative; }

#container-section .section-Centralpark .foto-text img {
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  display: block;
  width: 40%;
  height: 30%;
  position: relative; }

.foto-text p {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding: 2px;
  margin-right: 350px;
  margin-left: 350px; }

#container-section .section-Moldauinsel .foto-text {
  text-align: center;
  justify-content: center; }

@media (max-width: 1400px) and (min-width: 1100px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-right: 180px;
    margin-left: 180px; } }
@media (max-width: 1100px) and (min-width: 1000px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-right: 150px;
    margin-left: 150px; } }
@media (max-width: 1000px) and (min-width: 800px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-right: 150px;
    margin-left: 150px; }

  #container-section .section-Karlsbrücke {
    font-size: 17px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    height: 130vh; }

  #container-section .section-Marktplatz- {
    font-size: 17px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    height: 135vh; }

  #container-section .section-Centralpark {
    font-size: 17px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    height: 120vh; }

  #container-section .modal-body h2 {
    font-size: 22px;
    margin: 10px 350px 20px 2px;
    width: 100%; }

  #container-section .modal-body h3 {
    font-size: 20px;
    width: 100%;
    margin: 20px 350px 20px 2px; } }
@media (max-width: 800px) and (min-width: 500px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding: 2px;
    margin-right: 60px;
    margin-left: 60px; } }
@media (max-width: 500px) and (min-width: 375px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px; }

  #container-section .section-Centralpark {
    height: 90vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
    clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); }
    #container-section .section-Centralpark #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 2px;
      width: 100%; }
    #container-section .section-Centralpark #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 2px; }

  #container-section .section-Karlsbrücke {
    height: 100vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
    clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); }
    #container-section .section-Karlsbrücke #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 20px;
      width: 100%; }
    #container-section .section-Karlsbrücke #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 20px; }

  #container-section .section-Marktplatz- {
    height: 100vh;
    width: auto; }

  h2 {
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    font-size: 16px; }

  #container-section .section-Moldauinsel {
    height: 80vh;
    width: auto; }

  #container-section .modal-body h2 {
    font-size: 16px;
    margin: 10px 350px 20px 2px;
    width: 100%; }

  #container-section .modal-body h3 {
    font-size: 17px;
    width: 100%;
    margin: 20px 350px 20px 2px; }

  #container-section .section-Prager {
    height: 70vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
    clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); } }
@media (max-width: 375px) {
  .foto-text p {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px; }

  #container-section .section-Centralpark {
    height: 150vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
    clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); }
    #container-section .section-Centralpark #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 2px;
      width: 100%; }
    #container-section .section-Centralpark #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 2px; }

  #container-section .section-Karlsbrücke {
    height: 160vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
    clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); }
    #container-section .section-Karlsbrücke #container-section .modal-body h2 {
      font-size: 16px;
      margin: 10px 350px 20px 20px;
      width: 100%; }
    #container-section .section-Karlsbrücke #container-section .modal-body h3 {
      font-size: 17px;
      width: 100%;
      margin: 20px 350px 20px 20px; }

  #container-section .section-Marktplatz- {
    height: 180vh;
    width: auto; }

  h2 {
    text-align: center;
    justify-content: center;
    padding-top: 80px;
    font-size: 20px; }

  #container-section .section-Moldauinsel {
    height: 120vh;
    width: auto; }

  #container-section .modal-body h2 {
    font-size: 16px;
    margin: 10px 350px 20px 2px;
    width: 100%; }

  #container-section .modal-body h3 {
    font-size: 17px;
    width: 100%;
    margin: 20px 350px 20px 2px; }

  #container-section .section-Prager {
    height: 90vh;
    width: auto;
    background-color: rgba(186, 86, 70, 0.56);
    -webkit-clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%);
    clip-path: polygon(31% 6%, 100% 0, 100% 39%, 100% 93%, 72% 100%, 29% 100%, 0 93%, 0 0, 16% 7%); } }
#main {
  margin-left: auto;
  margin-right: auto; }

#main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px; }

#main h2 {
  text-align: center;
  justify-content: center;
  padding-top: 20px; }

#main p {
  font-size: 20px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto; }

#main .container2 {
  margin-top: 10px;
  margin-right: 300px;
  margin-left: 300px;
  text-align: center;
  justify-content: center; }

@media (max-width: 1400px) and (min-width: 1100px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px; }

  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 32px; }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto; }

  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center; } }
@media (max-width: 1100px) and (min-width: 1000px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px; }

  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 22px; }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto; }

  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center; } }
@media (max-width: 1000px) and (min-width: 800px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px; }

  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 22px; }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto; }

  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center; } }
@media (max-width: 800px) and (min-width: 500px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px; }

  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 15px; }

  #main p {
    font-size: 18px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto; }

  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center; } }
@media (max-width: 500px) {
  #main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px; }

  #main h2 {
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 15px; }

  #main p {
    font-size: 14px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto; }

  #main .container2 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center; } }
* {
  padding: 0;
  margin: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: Arial, Helvetica, Sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #434343;
  background: #fff;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0; }

html body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

header {
  margin: 0; }

header img {
  width: 100%; }

#navbar {
  width: 100%;
  padding: 10px 10px;
  background-color: darkred;
  text-align: center;
  border-top: 1px solid #751b1b;
  border-botton: 1px solid #751b1b;
  height: 50px; }

ol {
  /*	wyzerowanie marginesów*/
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  height: 35px;
  line-height: 200%;
  display: inline-block; }

ol a {
  color: white;
  text-decoration: none;
  display: block; }

ol > li {
  float: left;
  width: 150px;
  height: 40px;
  border-right: 1px dashed white; }

ol > li:first-child {
  border-left: 1px dashed white; }

ol > li:hover {
  background-color: papayawhip; }

ol > li:hover > a {
  color: #451717; }

ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 40px;
  /*	chowa wszystkie listy będące potomkami menu*/
  display: none; }

ol > li:hover > ul {
  display: block; }

ol > li > ul > li {
  background-color: #cf6969;
  position: relative;
  z-index: 100;
  border-top: 1px dashed white; }

ol > li > ul > li:hover {
  background-color: papayawhip; }

ol > li > ul > li:hover > a {
  color: #451717; }

@media (max-width: 1000px) and (min-width: 800px) {
  #navbar li {
    width: 120px; } }
@media (max-width: 800px) and (min-width: 500px) {
  #navbar li {
    width: 110px; } }
@media (max-width: 500px) {
  #navbar {
    width: 100%;
    padding: 10px 10px;
    background-color: darkred;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-botton: 1px solid #751b1b;
    height: 50px;
    visibility: hidden; } }
#navigation .prague-arrow-down h4 {
  color: #000;
  font-size: 1.2em;
  padding: 7px;
  text-decoration: none; }

#navigation .prague-arrow-down {
  background-color: #fff; }

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  list-style: none;
  z-index: 9999; }

ul#navigation li {
  width: 100px; }

ul#navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf; }

ul#navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px; }

ul#navigation li a {
  display: block;
  margin-left: -85px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); }

ul#navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); }

ul#navigation li a {
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 70px;
  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #afafaf;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  -moz-box-shadow: 0px 4px 3px #000;
  -webkit-box-shadow: 0px 4px 3px #000; }

.prague-arrow-down {
  content: "\EA65" !important;
  colo: black; }

@media (max-width: 500px) {
  ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index: 9999; } }
footer {
  clear: both;
  color: #fff;
  background: #121212;
  padding: 15px 0 15px 30px; }

/*# sourceMappingURL=style.css.map */
